###
# Generic config options
###

PUID=501
PGID=200

TZ=America/Toronto
SUBNET=192.168.5

CONFIG_VOLUMES=./volumes

# this is for the mass file storage
MASS_VOLUMES=./mass_volume

###
# Domain and SSL
###

DOMAIN=<domain name>
EMAIL=<Email for lets encrypt>
MAXMINDDB_USER_ID=
MAXMINDDB_LICENSE_KEY=

###
# SMTP Relay (SES)
###

SMTP_SES_HOST=
SMTP_SES_PORT=
SMTP_SES_USER=
SMTP_SES_PASS=

###
# Inbound mail (Cloudflare Email Worker -> mail-injector -> Stalwart)
###

# Shared secret the CF Email Worker presents to the mail-injector.
# Must match the Cloudflare Worker secret: wrangler secret put MAILIN_SHARED_SECRET
MAILIN_SHARED_SECRET=

###
# VPN (Transmission)
###

VPN_USER=<username>
VPN_PASSWORD=<password>

###
# Plex
###

# this is only used when the server is first started
PLEX_CLAIM=<plex server claim token>

###
# Notifications
###

DISCORD_URL=<discord webhook URL>

###
# Pi-hole
###

DNS_WEB_PASSWORD=<password>

###
# Collabora
###

COLLABORA_PASSWORD=<secret>

###
# Cloudflare (ddclient)
###

CLOUDFLARE_DNS_TOKEN=

###
# Speedtest Tracker
###

SPEEDTEST_KEY=

###
# LDAP
###

LDAP_ADMIN_PASSWORD=
LDAP_CONFIG_PASSWORD=

###
# Authelia (Docker secrets)
###

AUTHELIA_OIDC_HMAC=
AUTHELIA_SESSION_SECRET=
AUTHELIA_PASSWORD_RESET_SECRET=

###
# UniFi
###

UNIFI_DB_PASS=

###
# Databases
###

# Fills (MariaDB)
FILLS_DB=
FILLS_USER=
FILLS_PASSWORD=

# Dive-Tec (MariaDB)
DIVETEC_DB_PASSWORD=

# Gitea (Postgres)
GITEA_DB_PASSWORD=
GITEA_RUNNER_TOKEN=

# Immich (Postgres)
IMMICH_DB_PASSWORD=

# Firefly III (MariaDB)
FIREFLY_DB_PASSWORD=
FIREFLY_DB_NAME=

# Postal (MariaDB)
POSTAL_USER=
POSTAL_DB=
POSTAL_DB_PASSWORD=
POSTAL_OIDC_SECRET=

# Analytics / Umami (Postgres)
ANALYTICS_DB_PASSWORD=
ANALYTICS_APP_SECRET=

# Inventory (Postgres)
INVENTORY_DB=
INVENTORY_DB_PASSWORD=

###
# Backup configuration
###

DUPLICATI_KEY=
BACKUP_MARIADB_PASSWORD=
BACKUP_POSTGRES_PASSWORD=

###
# Mealie
###

MEALIE_OIDC_CLIENT_SECRET=

###
# Fill Station (Auth)
###

FILLS_AUTHELIA_AUTH_CLIENT_ID=
FILLS_AUTHELIA_AUTH_CLIENT_SECRET=
FILLS_GOOGLE_AUTH_CLIENT_ID=
FILLS_GOOGLE_AUTH_CLIENT_SECRET=
FILLS_AUTH_SECRET=

###
# Dive-Tec (Auth)
###

DIVETEC_AUTH_AUTHELIA_CLIENT_ID=
DIVETEC_AUTH_AUTHELIA_CLIENT_SECRET=
DIVETEC_AUTH_GOOGLE_CLIENT_ID=
DIVETEC_AUTH_GOOGLE_CLIENT_SECRET=
DIVETEC_AUTH_SECRET=

###
# Inventory (Auth)
###

INVENTORY_AUTH_AUTHELIA_CLIENT_ID=
INVENTORY_AUTH_AUTHELIA_CLIENT_SECRET=
INVENTORY_AUTH_SECRET=
