###
# Generic config options
###

PUID=501
PGID=200

TZ=America/Toronto
SUBNET=192.168.5

CONFIG_VOLUMES=./volumes

# this is for the mass file storage
MASS_VOLUMES=./mass_volume

# This is for the second, old download volume
DOWNLOAD_VOLUMES=./download_volume

###
# Specific per container configurations
###

VPN_USER=<username>
VPN_PASSWORD=<password>

# this is only used when the server is first started
PLEX_CLAIM=<plex server claim token>

DISCORD_URL=<discord webhook URL>

DOMAIN=<domain name>
EMAIL=<Email for lets encrypt>
MAXMINDDB_USER_ID=
MAXMINDDB_LICENSE_KEY=


#PI holse
DNS_WEB_PASSWORD=<password>

## slackbot
SLACK_ACCESS_TOKEN=<secret>
SLACK_SIGNING_SECRET=<secret>

# Collabora
COLLABORA_PASSWORD=<secret>


UNIFI_DB_ROOT_PASS=
UNIFI_DB_PASS=


CLOUDFLARE_DNS_TOKEN=

COMMAND_DISCORD_TOKEN=
COMMAND_DISCORD_CLIENT_ID=

SPEEDTEST_KEY=


INVENTORY_DB=
INVENTORY_USER=
INVENTORY_PASSWORD=
PIGI_PASSWORD=
INVENTORY_DEMO_PASSWORD=
INVENTORY_OIDC_CLIENT_ID=
INVENTORY_OIDC_CLIENT_SECRET=
INVENTORY_OIDC_HMAC_SECRET=
INVENTORY_DEMO_OIDC_CLIENT_ID=
INVENTORY_DEMO_OIDC_CLIENT_SECRET=
INVENTORY_DEMO_OIDC_HMAC_SECRET=


FILLS_DB=
FILLS_USER=
FILLS_PASSWORD=

GITEA_DB_PASSWORD=

POSTAL_USER=
POSTAL_DB=
POSTAL_DB_PASSWORD=

LDAP_ADMIN_PASSWORD=
LDAP_CONFIG_PASSWORD=

AUTHELIA_OIDC_HMAC=

IMMICH_DB_PASSWORD=

FIREFLY_DB_PASSWORD=

PAPERLESS_SECRET_KEY=
PAPERLESS_DB_PASS=


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
