

###
# Generic config options
###

PUID=501
PGID=200

TZ=America/Toronto
SUBNET=192.168.5

CONFIG_VOLUMES=./volumes

# this is for the mass file storage
MASS_VOLUMES=./mass_volume

# This is for the second, old download volume
DOWNLOAD_VOLUMES=./download_volume

###
# Specific per container secrets
###

VPN_USER=<username>
VPN_PASSWORD=<password>

PLEX_CLAIM=<plex server claim token>

DISCORD_URL=<discord webhook URL>


DOMAIN=<domain name>
EMAIL=<Email for lets encrypt>

#PI holse
DNS_WEB_PASSWORD=<password>

## slackbot
SLACK_ACCESS_TOKEN=<secret>
SLACK_SIGNING_SECRET=<secret>
